.grids {
  background-color: red;
  border: solid, 4px, purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {
  background-color: pink;
}

.controls {
  background-color: blue;
}

.presets {
  background-color: green;
}

.speed {
  background-color: yellowgreen;
}

.info {
  background-color: yellow;
}
