.container {
  /* background-color: rgb(160, 95, 111); */
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  font-size: 1.7rem;
  color: #07689f;
}

.grid {
  /* border: 3px solid purple; */
  /* display: flex; */
  padding: 1rem;
}

.cell {
  width: 10px;
  height: 10px;
  background-color: #ffc93c;
  border: solid 1px #00416d;
  border-radius: 3px;
}
.alive {
  background-color: #40a8c4;
}

.non-grid {
  /* border: 3px solid magenta; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  padding-left: 0.7rem;
}

.stats {
  /* background-color: pink; */
  /* padding: 1.5rem; */
}

.controls {
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;

  /* padding: 1.5rem; */
}

.speed {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-around;
  /* padding: 1.5rem; */
}

.presets {
  /* background-color: green; */
  display: flex;
  justify-content: space-around;
  /* padding: 1.5rem; */
}

.info {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-around;
  /* padding: 1.5rem; */
}

button {
  /* padding: 1.5rem; */
}
